{% extends "Templates/default.twig" %}

{% block content %}

    <div class="content">
        <div class="header"><h1><span>A keresett oldal nem található!</span></h1></div>
        <div class="html">
            <a href="javascript:history.back()">Vissza az előző oldalra</a>
        </div>
    </div>

{% endblock %}